<!DOCTYPE>
<html>
<body>
<table>
<tr><th>First_Name</th><th>Last_Name</th><th>Marks</th></tr>
<tr><td>Ganesh</td><td>Dasari</td><td>93</td></tr>
<tr><td>Sateesh</td><td>Gulla</td><td>79</td></tr>
<tr><td>Swami</td><td>Guntreddi</td><td>97</td></tr>
<tr><td>Sriganesh</td><td>Kolli</td><td>84</td></tr>
</table>
</body>
</html>